@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background: #2d0557;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2d0557, #49065c, #440F84);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2d0557, #49065c, #440F84);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#navbar {
    background: #49065c;
}


/* .bulb {
    background-image: url('../img/bulbtext.png');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
} */

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}


#daysrem {
    background: #d3caf8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d3caf8, #440F84);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d3caf8, #440F84);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.daysremc {
    text-decoration-color: #2d0557;
}


#about {
    background: #2d0557;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2d0557, #49065c, #440F84);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2d0557, #49065c, #440F84);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#event {
    background: #d3caf8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d3caf8, #440F84);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d3caf8, #440F84);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#contact {
    background: #2d0557;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2d0557, #49065c, #440F84);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2d0557, #49065c, #440F84);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#footer {
    text-align: center;
    padding: 7% 15%;
}

.footer-icons {
    margin: 20px 30px;

}

.logo {
    height: 45px;
    font-size: 40px;

}

a:hover {
    color: #AF7AB3;
}